body{
    background: #f2f2f2;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration:none
}

/* HEADER */
header{
    z-index: 1;
    width: 100%;
    height: 85px;
    background-color: #BFBFBF;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}

header div{
    display: inline;
    height: 50px;
    width: 50px;
}

/* 헤더 좌측 햄버거 */
#header_x, #header_hamburger{
    width: 20%;
    display: flex;
    cursor: pointer;
}

#header_x_set, #header_hamburger_set{
    margin: 25px 0px 0px 20px;
}

.hamburger img{
    height: 35px;
    width: 36px;
    margin: 0 auto;
    padding-left: 23px;
}

/* 햄버거바 하단 */
.hamburger_content{
    top: 0;
    left: 0;
    height: 100%;
    z-index: 0;
    margin-top: 2px;
    margin: 0 auto;
    position: absolute;
    background-color: #FEFF90;
    width: 265px;
    text-align: left;
}

.hamburger_content .wrapper{
    position: absolute;
    top: 85px;
    overflow-y: scroll;
    height: 85%;
    width: 100%;
}

/* 스크롤바 설정*/
.wrapper::-webkit-scrollbar{
    width: 6px;
}

/* 스크롤바 막대 설정*/
.wrapper::-webkit-scrollbar-thumb{
    height: 17%;
    background-color: #BFBFBF;
    /* 스크롤바 둥글게 설정    */
    border-radius: 20px;    
}

/* 스크롤바 뒷 배경 설정*/
.wrapper::-webkit-scrollbar-track{
    background-color: #FEFF90;
}

#my_information_name{
    cursor: pointer;
    width: 70px;
    height: 25px;
    color: rgb(0, 0, 0);
    padding: 2px;
    background-color: #FEFF90;
}

#my_information_name:hover{
    transform: scale(1.1);
}

#my_information_btn{
    border-radius: 5px;
    cursor: pointer;
    width: 70px;
    height: 25px;
    color: rgb(0, 0, 0);
    padding: 2px;
    background-color: #FEFF90;
    border: 1px black solid;
}

#my_information_btn:hover{
    transform: scale(1.1);
}

#login_phrase{
    cursor: pointer;
    float: left;
    height: 25px;
    color: rgb(0, 0, 0);
    padding: 2px;
    background-color: #FEFF90;
}

#login{
    float: left;
    margin: 0px 5px 0px 5px;
}

#my_information{
    margin: 15px 0px 30px 13px;
}

.log_in_out{
    border-radius: 5px;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
    width: 70px;
    height: 25px;
    color: rgb(0, 0, 0);
    padding: 2px;
    background-color: #FEFF90;
    border: 1px rgb(85, 20, 20) solid;
}

.log_in_out:hover{
    transform: scale(1.1);
}

#my_reservation, #wish_restaurant{
    margin-bottom: 30px;
    margin-left: 5px;
    width: 230px;
    padding: 20px;
    background-color: white;
    height: 60px;
    padding: 15px 0px 20px 15px;
}

#restaurant_reserved_list, #reservation_delete_alert{
    color: brown;
    font-size: 15px;
    padding: 2px;
    z-index: 0;
}

.restaurant_btn{
    margin: 5px;
    vertical-align: middle;
    float: left;
    font-size: 13px;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 254, 241);
    border: 1px rgb(124, 124, 124) solid;
}

#my_reservation_bottom{
    line-height: 140%;
    padding: 10px 0px 10px 5px;
    font-size: smaller;
}

.my_reservation_font{
    color: brown;
    font-weight: 500;
}

#restaurant_wished, #wish_delete_alert{
    color: brown;
    font-size: 15px;
    padding: 2px;
    z-index: 0;
}

.restaurant_btn:hover{
    transform: scale(1.1);
}

#list_restaurant{
    margin: 15px 0px 15px 5px;
    width: 240px;
    padding: 15px 0px 0px 10px;
    background-color: white;
}

#mylocation{
    background-color: lightgoldenrodyellow;
    margin: 0px 0px 0px 30px;
    border-radius: 5px;
    border: 1px solid rgb(219, 205, 173);
    cursor: pointer;
}

#mylocation:hover{
    transform: scale(1.1);
}

.list_restaurant_font{
    float: left;
    margin: 0px 0px 0px 25px;
}

.list_restaurant_select{
    color: brown;
    font-size: 15px;
}

.hb_menu_rt:hover{
    transform: scale(1.1);
}

#list_restaurant_select{
    line-height: 140%;
    padding: 10px 0px 10px 5px;
    color: black;
}

#list_restaurant_btn:hover{
    transform: scale(1.1);
}

.list_restaurant_select{
    height: 20px;
    width: 60px;
    font-size: smaller;
    margin-left: 100px;
    background-color: white;
    border: 1px white solid;
    cursor: pointer;
    border-radius: 5px;
}

.list_restaurant_select:hover{
    transform: scale(1.1);
}

#list_restaurant_korean, #list_restaurant_else{
    color: grey;
    margin: 0px 0px 0px 15px;
    display: none;
}

#login_hidden{
    box-shadow: 2.5px 2.5px 2.5px 2.5px rgb(175, 175, 175);
    font-size: 20px;
    text-align: center;
    padding: 30px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: white;
    width: 450px;
    height: 230px;
    z-index: 9999;
    position: absolute;
}


#my_information_hidden{
    display: none;
    box-shadow: 2.5px 2.5px 2.5px 2.5px rgb(175, 175, 175);
    font-size: 20px;
    text-align: center;
    padding: 30px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: white;
    width: 450px;
    height: 460px;
    z-index: 9999;
    position: absolute;
}

.close_x{
    float: right;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#my_information_hidden_x:hover{
    transform: scale(1.1);
}

#my_information_profile, #my_information_contact, #my_information_location{
    line-height: 160%;
    text-align: left;
    padding: 15px 0px 15px 0px;
    font-size: 18px;
}

#my_information_contact_btn{
    margin: 5px 0px 5px 0px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid grey;
    cursor: pointer;
}

#my_information_contact_btn:hover{
    transform: scale(1.1);
}


/* 상단 로고 */
header .logo{
    width: 60%;
    display: flex;
}

header .logo a{
    margin: auto;
}

header .logo a img{
    height: 75px;
}

header .hamburger_detail{
    cursor: pointer;
}

/* 우측 버튼 */
header .btn {
    width: 20%;
}

header .btn div{
    display: block;
    height: 42.5px;
    width: 100%;
}

header .btn .btn_top{
    justify-content: center;
    align-items: center;
}

header .btn .btn_top a{
    padding: 10px 10px 10px 10px;
    float: right;
    font-size: 15px;
    color: black;
    font-weight: 550;
    margin: auto 5px;
}

header .btn .btn_top a:hover{
    transform: scale(1.1);
}

header .btn .btn_bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .btn .btn_bottom input{
    width: 80%;
    height: 25px;
    border: 1px solid #333;
    border-radius: 5px;
    outline: none;
}

header .btn .btn_bottom span{
    color: black;
}

#search_box{
    margin: 0px 0px 5px 5px;
}

main{
    margin: 85px 0px 0px 0px;
}

#daumRoughmapContainer1625546572051{
    margin: auto;
    padding: 20px 0px 0px 30px;
}

#map{
    margin: 8% 0% 0% 20%;
    width: 60%;
    height: 350px;
    z-index: 0;
}

main .fin_reser{
    text-align: center;
    padding-top: 5%;
    font-size: 20px;
    line-height: 30px;
}