body{
    background: #f2f2f2;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration:none
}

/* HEADER */
header{
    z-index: 1;
    width: 100%;
    height: 85px;
    background-color: #BFBFBF;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}

header div{
    display: inline;
    height: 50px;
    width: 50px;
}

/* 헤더 좌측 햄버거 */
#header_x, #header_hamburger{
    width: 20%;
    display: flex;
    cursor: pointer;
}

#header_x_set, #header_hamburger_set{
    margin: 25px 0px 0px 20px;
}

.hamburger img{
    height: 35px;
    width: 36px;
    margin: 0 auto;
    padding-left: 23px;
}

/* 햄버거바 하단 */
.hamburger_content{
    top: 0;
    left: 0;
    height: 100%;
    z-index: 0;
    margin-top: 2px;
    margin: 0 auto;
    position: absolute;
    background-color: #FEFF90;
    width: 265px;
    text-align: left;
}

.hamburger_content .wrapper{
    position: absolute;
    top: 85px;
    overflow-y: scroll;
    height: 85%;
    width: 100%;
}

/* 스크롤바 설정*/
.wrapper::-webkit-scrollbar{
    width: 6px;
}

/* 스크롤바 막대 설정*/
.wrapper::-webkit-scrollbar-thumb{
    height: 17%;
    background-color: #BFBFBF;
    /* 스크롤바 둥글게 설정    */
    border-radius: 20px;    
}

/* 스크롤바 뒷 배경 설정*/
.wrapper::-webkit-scrollbar-track{
    background-color: #FEFF90;
}

#my_information_name{
    cursor: pointer;
    width: 70px;
    height: 25px;
    color: rgb(0, 0, 0);
    padding: 2px;
    background-color: #FEFF90;
}

#my_information_name:hover{
    transform: scale(1.1);
}

#my_information_btn{
    border-radius: 5px;
    cursor: pointer;
    width: 70px;
    height: 25px;
    color: rgb(0, 0, 0);
    padding: 2px;
    background-color: #FEFF90;
    border: 1px black solid;
}

#my_information_btn:hover{
    transform: scale(1.1);
}

#login_phrase{
    cursor: pointer;
    float: left;
    height: 25px;
    color: rgb(0, 0, 0);
    padding: 2px;
    background-color: #FEFF90;
}

#login{
    float: left;
    margin: 0px 5px 0px 5px;
}

#my_information{
    margin: 15px 0px 30px 13px;
}

.log_in_out{
    border-radius: 5px;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
    width: 70px;
    height: 25px;
    color: rgb(0, 0, 0);
    padding: 2px;
    background-color: #FEFF90;
    border: 1px rgb(85, 20, 20) solid;
}

.log_in_out:hover{
    transform: scale(1.1);
}

#my_reservation, #wish_restaurant{
    margin-bottom: 30px;
    margin-left: 5px;
    width: 230px;
    padding: 20px;
    background-color: white;
    height: 60px;
    padding: 15px 0px 20px 15px;
}

#restaurant_reserved_list, #reservation_delete_alert{
    color: brown;
    font-size: 15px;
    padding: 2px;
    z-index: 0;
}

.restaurant_btn{
    margin: 5px;
    vertical-align: middle;
    float: left;
    font-size: 13px;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 254, 241);
    border: 1px rgb(124, 124, 124) solid;
}

#my_reservation_bottom{
    line-height: 140%;
    padding: 10px 0px 10px 5px;
    font-size: smaller;
}

.my_reservation_font{
    color: brown;
    font-weight: 500;
}

#restaurant_wished, #wish_delete_alert{
    color: brown;
    font-size: 15px;
    padding: 2px;
    z-index: 0;
}

.restaurant_btn:hover{
    transform: scale(1.1);
}

#list_restaurant{
    margin: 15px 0px 15px 5px;
    width: 240px;
    padding: 15px 0px 0px 10px;
    background-color: white;
}

#mylocation{
    background-color: lightgoldenrodyellow;
    margin: 0px 0px 0px 30px;
    border-radius: 5px;
    border: 1px solid rgb(219, 205, 173);
    cursor: pointer;
}

#mylocation:hover{
    transform: scale(1.1);
}

.list_restaurant_font{
    float: left;
    margin: 0px 0px 0px 25px;
}

.list_restaurant_select{
    color: brown;
    font-size: 15px;
}

.hb_menu_rt:hover{
    transform: scale(1.1);
}

#list_restaurant_select{
    line-height: 140%;
    padding: 10px 0px 10px 5px;
    color: black;
}

#list_restaurant_btn:hover{
    transform: scale(1.1);
}

.list_restaurant_select{
    height: 20px;
    width: 60px;
    font-size: smaller;
    margin-left: 100px;
    background-color: white;
    border: 1px white solid;
    cursor: pointer;
    border-radius: 5px;
}

.list_restaurant_select:hover{
    transform: scale(1.1);
}

#list_restaurant_korean, #list_restaurant_else{
    color: grey;
    margin: 0px 0px 0px 15px;
    display: none;
}

#login_hidden{
    box-shadow: 1.2px 1.2px 1.2px 1.2px rgb(175, 175, 175);
    font-size: 20px;
    text-align: center;
    padding: 30px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: white;
    width: 450px;
    height: 230px;
    z-index: 9999;
    position: absolute;
}


#my_information_hidden{
    display: none;
    box-shadow: 2.5px 2.5px 2.5px 2.5px rgb(175, 175, 175);
    font-size: 20px;
    text-align: center;
    padding: 30px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: white;
    width: 450px;
    height: 460px;
    z-index: 9999;
    position: absolute;
}

.close_x{
    float: right;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#my_information_hidden_x:hover{
    transform: scale(1.1);
}

#my_information_profile, #my_information_contact, #my_information_location{
    line-height: 160%;
    text-align: left;
    padding: 15px 0px 15px 0px;
    font-size: 18px;
}

#my_information_contact_btn{
    margin: 5px 0px 5px 0px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid grey;
    cursor: pointer;
}

#my_information_contact_btn:hover{
    transform: scale(1.1);
}


/* 상단 로고 */
header .logo{
    width: 60%;
    display: flex;
}

header .logo a{
    margin: auto;
}

header .logo a img{
    height: 75px;
}

header .hamburger_detail{
    cursor: pointer;
}

/* 우측 버튼 */
header .btn {
    width: 20%;
}

header .btn div{
    display: block;
    height: 42.5px;
    width: 100%;
}

header .btn .btn_top{
    justify-content: center;
    align-items: center;
}

header .btn .btn_top a{
    padding: 10px 10px 10px 10px;
    float: right;
    font-size: 15px;
    color: black;
    font-weight: 550;
    margin: auto 5px;
}

header .btn .btn_top a:hover{
    transform: scale(1.1);
}

header .btn .btn_bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .btn .btn_bottom input{
    width: 80%;
    height: 25px;
    border: 1px solid #333;
    border-radius: 5px;
    outline: none;
}

header .btn .btn_bottom span{
    color: black;
}

#search_box{
    margin: 0px 0px 5px 5px;
}

main{
    margin: 85px 0px 0px 0px;
}

#daumRoughmapContainer1625546572051{
    margin: auto;
    padding: 20px 0px 0px 30px;
}

#map{
    margin: 8% 0% 0% 20%;
    width: 60%;
    height: 350px;
    z-index: 0;
}

/* 퀵메뉴 */
.quickmenu{
    width: 200px;
    border-radius: 5px;
    background-color: white;
    padding: 50px 10px 50px 0px;
    position: absolute;
    right: 20px;
    top: 30%;
}

#quickmenu_logo{
    width: 70px;
    height: 90px;
    margin: -300px 0px 0px 50px;
}

.quickmenu_btn{
    cursor: pointer;
    font-size: 15px;
    border-radius: 15px;
    width: 190px;
    height: 35px;
    border: 1px solid white;
    margin: 5px;
    background-color: #FEFF90;
}

.quickmenu_btn:hover{
    transform: scale(1.1);
    background-color: #FFF1B6;
}

.restaurant_information{
    text-align: center;
    line-height: 200%;
    width: 420px;
    padding: 15px;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    /* margin: 10px 20px 10px 550px; */
}

.restaurant_information_btn{
    border: 1px white solid;
    background-color: #FEFF90;
    font-size: 15px;
    cursor: pointer;
    border-radius: 15px;
    width: max-content;
    height: 35px;
    margin: 5px;
}

.restaurant_information_btn:hover{
    background-color: #FFF1B6;
    transform: scale(1.1);
}

#detail_information{
    line-height: 250%;
    display: none;
    border: 1px solid rgb(163, 163, 163);
    text-align: center;
    padding: 20px;
    top: 12%;
    left: 50%;
    transform: translate(-50%, 15%);
    padding: 30px;
    height: 400px;
    width: 500px;
    position: absolute;
    background-color: white;
    font: 500px;
    z-index: 9999;
}

#detail_information_x{
    float: right;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.detail_information_btn_2{
    font-size: 14px;
    padding: 5px;
    margin: 10px;
    background-color: rgb(255, 250, 236);
    border: 1px solid rgb(117, 113, 74);
    cursor: pointer;
    border-radius: 10px;
}

.detail_information_btn_2:hover{
    transform: scale(1.1);
}

.detail_information_btn_3{
    height: 50px;
    font-size: 14px;
    margin: 10px;
    background-color: rgb(255, 250, 236);
    border: 1px solid rgb(117, 113, 74);
    cursor: pointer;
    border-radius: 10px;
}

.detail_information_btn_3:hover{
    transform: scale(1.1);
}

.sns_img{  
    width: 40px;
    border-radius: 40px;
    margin: 5px;
}

#reservation_go{
    vertical-align: middle;
    font-size: 15px;
    color: black;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 10px;
    width: 60px;
    background-color: white;
    cursor: pointer;
}

#reservation_go:hover{
    transform: scale(1.1);
}

#reservation_url{
    vertical-align: middle;
    font-size: 15px;
    color: black;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 10px;
    width: 120px;
    background-color: white;
    cursor: pointer;
    margin: 10px;
}

#reservation_url:hover{
    transform: scale(1.1);
}

#detail_information_x:hover{
    transform: scale(1.1);
}

#placement_information{
    display: none;
    border: 1px solid rgb(163, 163, 163);
    text-align: center;
    top: 14%;
    padding: 20px;
    left: 25%;
    padding: 30px;
    height: 500px;
    width: 750px;
    position: absolute;
    background-color: white;
    font: 500px;
    z-index: 9999;
}

#placement_information_x{
    margin: 0px 0px 0px 420px;
    position: absolute;
    float: right;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#placement_information_x:hover{
    transform: scale(1.1);
}

.placement_btn{
    font-size: 15px;
    border-radius: 15px;
    background-color: white;
    padding: 20px 20px 20px 20px;
    margin: 20px;
    border: 1px solid rgb(143, 143, 143);
    cursor: pointer;
    box-shadow: rgb(216, 216, 216) 1px 1px 1px 1px;
}

.placement_btn:hover{
    transform: scale(1.1);
}

#today_menu{
    /* display: none;
    padding: 30px;
    z-index: 9999;
    position: absolute;
    width: 500px;
    height: 300px;
    background-color: white;
    left: 35%;
    top: 20%; */
    line-height: 250%;
    display: none;
    border: 1px solid rgb(163, 163, 163);
    text-align: center;
    padding: 20px;
    top: 12%;
    left: 50%;
    transform: translate(-50%, 15%);
    padding: 30px;
    height: 400px;
    width: 500px;
    position: absolute;
    background-color: white;
    font: 500px;
    z-index: 9999;
}

#today_ranking{
    /* display: none;
    text-align: center;
    padding: 30px;
    z-index: 9999;
    position: absolute;
    width: 500px;
    height: 400px;
    background-color: white;
    left: 35%;
    top: 20%;
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(206, 206, 206); */
    line-height: 250%;
    display: none;
    border: 1px solid rgb(163, 163, 163);
    text-align: center;
    padding: 20px;
    top: 12%;
    left: 50%;
    transform: translate(-50%, 15%);
    padding: 30px;
    height: 400px;
    width: 500px;
    position: absolute;
    background-color: white;
    font: 500px;
    z-index: 9999;
}

#ranking_input{
    margin: 15px 0px 10px 0px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid gray;
}

.ranking_list{
    margin: 10px;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 15px;
    height: max-content;
    width: max-content;
    padding: 15px 15px 35px 15px;
}

.ranking_list_1{
    float: left;
    margin: 0px 10px 0px 10px;
    vertical-align: middle;
}

.ranking_list_2{
    float: left;
    margin: 0px 10px 0px 10px;
    color: brown;
}

.ranking_list_btn{
    float: left;
    margin: -2px 10px 0px 10px;
    background-color: rgb(230, 243, 255);
    border: 1px solid lightgrey;
    vertical-align: middle;
    border-radius: 3px;
    cursor: pointer;
}

.ranking_list_btn:hover{
    transform: scale(1.1);
}

#unsanitary{
    /* display: none;
    padding: 30px;
    z-index: 9999;
    position: absolute;
    width: 500px;
    height: 300px;
    background-color: white;
    left: 35%;
    top: 20%; */
    line-height: 250%;
    display: none;
    border: 1px solid rgb(163, 163, 163);
    text-align: center;
    padding: 20px;
    top: 12%;
    left: 50%;
    transform: translate(-50%, 15%);
    padding: 30px;
    height: 400px;
    width: 500px;
    position: absolute;
    background-color: white;
    font: 500px;
    z-index: 9999;
}

#unsanitary_search{
    margin: 50px 0px 0px 0px;
    text-align: center;
}

#unsanitary_input{
    border-radius: 5px;
    border: 1px solid grey;
    width: 150px;
    height: 50px;
}

#unsanitary_input:hover{
    background-color: rgb(241, 241, 241);
}

#unsanitary_update{
    font-size: large;
    text-align: center;
    margin: 50px 0px 0px 0px;
}

#unsanitary_result{
    margin: 10px 0px 0px 0px;
    font-size: large;
    text-align: center;
}

#confirmed_patient{
    /* display: none;
    padding: 30px;
    z-index: 9999;
    position: absolute;
    width: 500px;
    height: 300px;
    background-color: white;
    left: 35%;
    top: 20%;
    font-size: 20px;
    text-align: center;
    align-items: center; */
    line-height: 250%;
    display: none;
    border: 1px solid rgb(163, 163, 163);
    text-align: center;
    padding: 20px;
    top: 12%;
    left: 50%;
    transform: translate(-50%, 15%);
    padding: 30px;
    height: 400px;
    width: 500px;
    position: absolute;
    background-color: white;
    font: 500px;
    z-index: 9999;
}

#confirmed_patient_font{
    font-size: 20px;
    text-align: center;
    align-items: center;
    margin-top: 50px;
}

#confirmed_patient_link{
    padding: 15px;
    border: 1px solid grey;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(235, 235, 235);
    margin: 25px 15px 15px 15px;
}

#confirmed_patient_link:hover{
    transform: scale(1.1);
}

/* 배치표 */
.placement{
    float:left;
}

.placement_door{
    background-color: rgb(255, 242, 224);
    font-size: smaller;
    border: 1px solid black;
    width: max-content;
    padding: 10px;
    margin: 10px;
    float: left; 
}

#placement_chair_1, 
#placement_chair_2,
#placement_chair_3,
#placement_chair_4,
#placement_chair_5,
#placement_chair_6,
#placement_chair_7,
#placement_chair_8,
#placement_chair_9,
#placement_chair_10,
#placement_chair_11,
#placement_chair_12,
#placement_chair_13,
#placement_chair_14,
#placement_chair_15,
#placement_chair_16,
#placement_chair_17,
#placement_chair_18,
#placement_chair_19,
#placement_chair_20,
#placement_chair_21,
#placement_chair_22,
#placement_chair_23,
#placement_chair_24{
    cursor: pointer;
    border: 1px solid black;
    width: max-content;
    padding: 20px;
    margin: 20px;
    float: left;
}

.placement_table{
    background-color: white;
    border: 1px solid black;
    width: max-content;
    padding: 20px;
    margin: 20px;
    float: left;
    position: absolute;
    transform: translate(75%, 50%);
}

.placement_kitchen{
    background-color: rgb(255, 242, 224);
    font-size: larger;
    border: 1px solid black;
    width: 750px;
    padding: 25px 20px 25px 20px;
    margin: 20px;
    float: left; 
}


/*위생등급 검색*/
.grade_searchbox{
width: 90%;
margin: 10px auto;
}

.grade_header{
background: #ffe079;
overflow: hidden;
padding: 20px;
height: 30px;
text-align: center;
}

.grade_header h1{
text-transform: uppercase;
color: white;
margin: 0;
margin-bottom: 8px;
}
#value{
border: none;
background: #E0D3B6;
padding: 6px;
font-size: 18px;
width: 80%;
border-radius: 6px;
color: white;
}

#value:focus{
outline: none;
}

.grade_container{
cursor: pointer;
background: #FFFFF5;
padding: 1%;
height:100px;
overflow-y:scroll
}

.item{
margin: 3% 0px;
display: flex;
align-items: center;
}

.icon{
width: 25px;
height: 25px;
background: #E0D3B6;
color: white;
font-size: 15px;
text-align: center;
line-height: 25px;
border-radius: 50%;
margin-right: 8px;
}

.name{
font-size: 17px;
font-weight: 470;
color: #333;
}

/* 로그인 페이지 */
#ID{
    border: none;
    box-shadow: 1px 1px 1px black;
    height: 25px;
    width: 200px;
    margin: 20px 10px 10px 10px;
}

#PW{
    border: none;
    box-shadow: 1px 1px 1px black;
    height: 25px;
    width: 200px;
    margin: 10px;
}

#submit_btn{
    width: max-content;
    padding: 5px;
    margin: 5px;
    background-color: rgb(230, 230, 230);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
}

#submit_btn:hover{
    transform: scale(1.1);
}

#btn_fgt_a{
    font-size: smaller;
    color: rgb(69, 69, 156);
}