body{
    background: #f2f2f2;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration:none
}

/* HEADER */
header{
    width: 100%;
    height: 85px;
    background-color: #BFBFBF;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}

header div{
    display: inline;
    height: 50px;
    width: 50px;
}

/* 헤더 좌측 햄버거 */
#header_x, #header_hamburger{
    width: 20%;
    display: flex;
    cursor: pointer;
}

#header_x_set, #header_hamburger_set{
    margin: 25px 0px 0px 20px;
}

.hamburger img{
    height: 35px;
    width: 36px;
    margin: auto 0;
    padding-left: 23px;
}

/* 상단 로고 */
header .logo{
    width: 60%;
    display: flex;
}

header .logo a{
    margin: auto;
}

header .logo a img{
    height: 75px;
}

header .hamburger_detail{
    cursor: pointer;
}

header #hamburger_korean{
    margin: -250px 0px 0px 0px;
    font-size: 18px;
}

header #hamburger_else{
    margin: -250px 0px 0px 0px;
    font-size: 18px;
}

/* 우측 버튼 */
header .btn {
    width: 20%;
}

header .btn div{
    display: block;
    height: 42.5px;
    width: 100%;
}

header .btn .btn_top{
    justify-content: center;
    align-items: center;
}

header .btn .btn_top a{
    padding: 10px 10px 10px 10px;
    float: right;
    font-size: 15px;
    color: black;
    font-weight: 550;
    margin: auto 5px;
}

header .btn .btn_top a:hover{
    transform: scale(1.1);
}

header .btn .btn_bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .btn .btn_bottom input{
    width: 80%;
    height: 25px;
    border: 1px solid #333;
    border-radius: 5px;
    outline: none;
}

header .btn .btn_bottom span{
    color: black;
}

#search_box{
    margin: 0px 0px 5px 5px;
}

main{
    margin: 85px 0px 0px 0px;
}

#daumRoughmapContainer1625546572051{
    margin: auto;
    padding: 20px 0px 0px 30px;
}

/* 마이페이지 */

main .my_page{
    cursor:context-menu;
    position: fixed;
    top: 30%;
    left: 5%;
    width: 300px;
    height: auto;
    font-size: 150%;
    color: #333;
    background-color: #feff90;
    border-radius: 20px;
    text-align:center;
    line-height: 80px;
    padding: 20px 0;
    
}
main .my_page .title{
    font-size: 30px;
    font-weight: bold;
}
main .my_page .click{
    padding-top: 10px;
}

main .my_page .click .sign_in:hover{
    color: #BFBFBF;
}

main .my_page .click .sign_up:hover{
    color: #BFBFBF;
}

main .my_page .click .reservation:hover{
    color: #BFBFBF;
}

/* 회원가입 페이지 */
main .sign_up_page{
    width: 1000px;
    height: auto;
    position:fixed;
    top: 27%;
    left: 35%;
    font-size: 20px;
    font-weight: bold;
}

main .sign_up_page caption{
    text-align:left;
    font-size: 35px;
    margin:20px auto;
    cursor: context-menu;
}

main .sign_up_page .w_txt input{
    padding: 5px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #BFBFBF;
}

main .sign_up_page .fir_col{
    text-align: left;
    padding: 10px;
    cursor: context-menu;
}

main .sign_up_page .sec_col{
    text-align: left;
    left: 10px;
    cursor: context-menu;
}

main .sign_up_page .sec_col .call_num input{
    width: 30px;
    text-align: center;
}

main .sign_up_page .sec_col .box_call{
    width: 20%;
}

.btn_call, .mail_btn{
    border: none;
    border-radius: 15px;
    background-color: #feff90;
    cursor: pointer;
}

.btn_call:hover, .mail_btn:hover{
    transform: scale(1.1);
}

main .sign_up_page .sec_col p{
    margin-top: 1%;
}

main .sign_up_page p{
    font-size: 15px;
}

main .sign_up_page .btn_sign_up button{
    cursor: pointer;
    width: 50%;
    height:45px;
    background-color: #feff90;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    margin-top: 2%;
    margin-left: 13%;
}


.basic_style, .box_call{
    border: none;
    background-color:#f2f2f2;
    border-bottom: 2px solid #BFBFBF;
}